<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936805908022-3dgiqgoa4otan5k9qukvrg0li9vg7au4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936805908022-3dgiqgoa4otan5k9qukvrg0li9vg7au4</string>
	<key>API_KEY</key>
	<string>AIzaSyA0LfXBBTHTAO2nf_j1bjBLIW6JsCUVrmo</string>
	<key>GCM_SENDER_ID</key>
	<string>936805908022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appMaquinhos.App-Etapa3</string>
	<key>PROJECT_ID</key>
	<string>lsm-john-deere</string>
	<key>STORAGE_BUCKET</key>
	<string>lsm-john-deere.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936805908022:ios:383506c04aa038342da297</string>
	<key>DATABASE_URL</key>
	<string>https://lsm-john-deere-default-rtdb.firebaseio.com</string>
</dict>
</plist>